<div class="user-list right-item">
    <p class="title bold">
        <i class="fa fa-users"></i>
        关注（<%= count%>）
    </p>
    <div class="user-list clear-fix">
        <% userList.forEach(user=> { %>
            <a href="/profile/<%= user.userName%>" class="user-item float-left">
                <img src="<%= user.picture||'https://dss0.bdstatic.com/70cFvHSh_Q1YnxGkpoWK1HF6hhy/it/u=2694643916,1778468996&fm=11&gp=0.jpg'%>" />
                <span>
                    <%= user.nickName%>
                </span>
            </a>
            <% }) %>
    </div>
</div>